{% extends "terminimal/templates/index.html" %}

{% block extra_head %}
    <meta name="description" content="Bimawa's blog"/>
    <meta name="keywords" content="Hacking, Programming, R&D"/>
{% endblock %}

{% block content %}
<div class="posts">
    {%- set blog_section = get_section(path="blog/_index.md") -%}
    {%- for page in blog_section.pages %}
        <div class="post on-list">
            {{ post_macros::header(page=page) }}
            {{ post_macros::content(page=page, summary=true, show_only_description=page.extra.show_only_description | default(value=false)) }}
        </div>
    {% endfor -%}
</div>
{% endblock content %}